p {text-align:center; font-family:Verdana;}

.bigred {font-size:20px; color:#DF0101;}

.big {font-size:30px;}

img {height:200px;}

/* This is one my style sheets. It's to make my life easier when typing HTML code */
